name: Testar e Fazer Deploy

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy_staging:
    name: Deploy para Staging
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest

    steps:
      - name: 1. Clonando o repositório
        uses: actions/checkout@v4

      - name: 2. Copiando os arquivos para Staging
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          source: "."
          target: ${{ secrets.STAGING_TARGET_PATH }}

      - name: 3. Executando comandos em Staging
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          envs: STAGING_TARGET_PATH,STAGING_WEB_PATH
          script: |
            cd $STAGING_TARGET_PATH
            npm install
            npm run build
            # Garante que o diretório de destino existe
            mkdir -p $STAGING_WEB_PATH
            # Copia os arquivos gerados para a pasta do servidor web
            cp -r dist/* $STAGING_WEB_PATH
            echo "Deploy em Staging finalizado com sucesso!"
        env:
          STAGING_TARGET_PATH: ${{ secrets.STAGING_TARGET_PATH }}
          STAGING_WEB_PATH: ${{ secrets.STAGING_WEB_PATH }}

  deploy_production:
    name: Deploy para Produção
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: 1. Clonando o repositório
        uses: actions/checkout@v4

      - name: 2. Copiando os arquivos para Produção
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          source: "."
          target: ${{ secrets.PRODUCTION_TARGET_PATH }}

      - name: 3. Executando comandos em Produção
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          envs: PRODUCTION_TARGET_PATH,PRODUCTION_WEB_PATH
          script: |
            cd $PRODUCTION_TARGET_PATH
            npm install
            npm run build
            # Garante que o diretório de destino existe
            mkdir -p $PRODUCTION_WEB_PATH
            # Copia os arquivos gerados para a pasta do servidor web
            cp -r dist/* $PRODUCTION_WEB_PATH
            echo "Deploy em Produção finalizado com sucesso!"
        env:
          PRODUCTION_TARGET_PATH: ${{ secrets.PRODUCTION_TARGET_PATH }}
          PRODUCTION_WEB_PATH: ${{ secrets.PRODUCTION_WEB_PATH }}
